h1{
    background-color: palevioletred;
    height: 100px;
    width: 200px;
    text-align: center;
    /* border-width: 3px;
    border-style: solid;
    border-color: black;
    border-radius: 25%; */
    border: 3px solid brown ;
    border-radius: 25px;

}
div{
    background-color: aqua;
    height: 100px;
    width: 100px;
    border-width: 2px;
    border-style: double;
    border-color: brown;
    border-radius: 15px;
    text-align: right;
}