*{
    margin: 0px;
    padding: 0;
    color: white;
}

#navbar {
    height: 60px;
    background-color: black;
} 
button{
    background-color: rgb(202, 144, 19);
}

#logo {
color:rgb(202, 144, 19);
font-size: 25px;
}

a{
    margin-right: 170px;
    text-decoration: none;
}